*{
  margin: 0;
  padding: 0;
}


a {
  outline: none;
  text-decoration: none;
}

a:link {
  color: #000000;
}

a:visited {
  color: rgb(0, 0, 0);
}

a:focus {
  background: #ffffff;
}

a:hover {
  background: #ffffff;
  filter:blur(1px);
  color: rgb(0, 0, 0);
}

a:active {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

@media(min-width:1000px){
    .atre{
      margin-top: 110px;
    }

}



@media(max-width:1000px){
    .atre{
      margin-top: 50px;
    }

}


@media(min-width:1000px){
    .ig{
      width: 20%;
    }

}

@media(max-width:1000px){
    .ig{
      width: 40%;
    }

}




.txt {
  margin-left: 50px;
  margin-right: 50px;
}
